header{
    width:100%;
    height: 50px;
    background-color: #000000;
    background-position: center;
    margin: auto;
    display: table;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(121,18,9,1) 73%, rgba(255,67,0,0.9187935034802784) 100%);

}
header #logo{
    text-align: center;
    padding-top:5px;
}
body
{
    border: solid black;
    float: unset;
    background-color: #000000;
}
/*pai*/
#menu-lateral{
    background-color: aqua;
    text-align: left;
    background-position: left;
    margin: left;
    position: relative;
    border: 5px solid linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(121,18,9,1) 73%, rgba(255,67,0,0.9187935034802784) 100%);;
    background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(121,18,9,1) 73%, rgba(255,67,0,0.9187935034802784) 100%);;
    height: inherit;
    width: 200px;
    color: #FF051E;
}

#menu-lateral nav ul li a{
    color: white;
    padding-top: 9px;
    font-size:15px;
    size: 30px;
    display: table;
    background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(121,18,9,1) 73%, rgba(255,67,0,0.9187935034802784) 100%);;

}

#comandos{
    padding-top: right;
    margin: auto;
    text-align: center;
    background-size: contain;
    background-position: center;
    border: solid white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(121,18,9,1) 73%, rgba(255,67,0,0.9187935034802784) 100%);;
    border-radius: 3px;
    position: relative;
    display: table;
    color: white;
}
#comandos table
{
    padding-top: right;
    background-color: blueviolet;
    position: relative;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin: auto;
    float: inline-start;
    border-radius: 13px;
    border: solid pink;
    color: red;
}
#comandos table:hover
{
    border: solid red;
    background: black;
    background: linear-gradient(to right, #FFFFFF 18%, #FF0000 50%, #FF051E 100%);
    background-clip: text;
    -webkit-text-fill-color: black;

    
}
#comandos table td ,th
{
    padding-top: right;
    border-radius: 10px ;
    border: solid pink;
    background-position: center;
    background-size: contain;
    text-align: center;
    margin: auto;
}

#comandos table th:hover
{
    border: solid black;
    color: black;
    background: linear-gradient(90deg, rgba(221,221,221,1) 16%, rgba(255,4,4,1) 39%, rgba(255,0,0,0.8955916473317865) 100%);
}
#comandos table td:hover
{
    border: solid black;
    color: black;
    background: linear-gradient(90deg, rgba(221,221,221,1) 16%, rgba(255,4,4,1) 39%, rgba(255,0,0,0.8955916473317865) 100%);
}
#rodape
{
    margin-top: 10px;
    text-align: center;  
    background: rgb(2,0,36);
    background: linear-gradient(7deg, rgba(2,0,36,1) 0%, rgba(149,50,14,1) 4%, rgba(19,7,6,1) 100%, rgba(17,9,4,1) 100%); 
    color:#ffffff;
    font-size:12px;
    height: 25px;
}
#main-area
{
    border: 5px solid salmon;
    border-radius: 15px;
    margin-left: 210px ;
    width:auto;
    height:500px;
    padding-top: 10px;
    position: relative;
    background: linear-gradient(90deg, rgba(2,0,36,1) 37%, rgba(121,18,9,1) 73%, rgba(255,67,0,0.9187935034802784) 100%);;

}
footer
{
    float: inherit;
    text-align: end;
    margin-bottom: auto;
}
main
{
    background: linear-gradient(90deg, rgba(221,221,221,1) 16%, rgba(255,4,4,1) 39%, rgba(255,0,0,0.8955916473317865) 100%);

}